.navbar ,.navbar-scrolled{ 
        border-bottom: 0.2px solid #95959513;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        top: 0;
        z-index: 100;
        position:fixed;
        transition: all 0.2s ease;
        left: 0;
        right: 0;
    }
    .navbar-scrolled{
        background-color: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(10px);
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    }
    .navbar_logo{
        cursor:pointer;
    }
    .logo-img{

        width: auto;
        height:85px;
    }
    .navbar_link {
        display: flex;
        flex:1;
        gap: 1rem;
        align-items:center;
        font-size:17px;
        justify-content: center;
    }
    .navbar .links{
        color: #fff;
        text-decoration: none;
        padding: 6px 14px;
        border-radius: 6px;
        font-weight:500
    }
    .navbar-scrolled .links{
        color: #000;
        text-decoration: none;
        padding: 6px 14px;
        border-radius: 6px;
        font-weight:500
    }
    .links_scrolled:hover{
        cursor:pointer;
        background-color:rgba(120, 118, 118, 0.2);
    }
    .links:hover{
        cursor:pointer;
        background-color:rgba(0, 0, 0, 0.2);
    }
    .navbar_actions{
        display:flex;
        align-items: center;
        gap: 10px;
    }
    
    .btn-login, .btn-register{
        font-size: 16px;
        padding: 20px 20px;
        font-weight: 550;
    }
    .btn-login {
        color: #024590;
        border-radius: 999px;
        border: 0px;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor:pointer;
        background-color:#D1F0FF;
        
    }
    .btn-register{
        font-size: 16px;
        border-radius: 999px;
        background: #0a9af2;
        color: white;
        cursor:pointer;
        border: 0px;
    }